[Unit]
Description=MQTT Fan
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /home/pi/mqttFan.py

[Install]
WantedBy=multi-user.target
